@import url("https://fonts.googleapis.com/css?family=Lato|Merriweather|Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato|Merriweather|Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css?family=Grand+Hotel&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

span,
p,
a,
label,
button {
  font-size: 1.1rem;
  color: #36383b;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  color: #36383b;
}

header {
  border-bottom: 1px solid #cecece;
  height: 20vh;
  background: #36383b;
}

header .header-container {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0rem 1rem 0;
  align-items: center;
}

header .header-container h1 a {
  font-family: "Grand Hotel", cursive;
  font-size: 5rem;
  color: white;
}

header .header-container nav a {
  text-transform: uppercase;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  margin: 7rem auto;
}

.result-container .single-card {
  border: 1px solid #e2e1e1;
  width: 420px;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

@media (max-width: 910px) {
  .result-container .single-card {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .result-container .single-card {
    width: 450px;
  }
}

.result-container .single-card:last-child {
  margin-right: 0;
}

.result-container .single-card h3 {
  text-align: center;
  padding: 0.5rem 0 1rem;
  border-bottom: 1px solid #e6e3e3;
}

.result-container .single-card .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 2.5rem;
}

.result-container .single-card .rating span:last-child {
  color: gold;
  margin-left: 2rem;
}

.result-container .single-card .reviews-container {
  margin: 1rem 0;
}

.result-container .single-card .reviews-container .review-title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.result-container .single-card .reviews-container .review {
  width: 100%;
  height: 20vh;
}

.result-container .single-card .reviews-container .review img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.result-container .single-card .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.result-container .single-card .more a {
  text-transform: capitalize;
  border: 1px solid gold;
  padding: 0.4rem 1.8rem;
  border-radius: 10px;
  background: gold;
}

.about-container {
  max-width: 1400px;
  margin: 7rem auto;
}

.about-container .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

@media (max-width: 1050px) {
  .about-container .profile-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .about-container .profile-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-container .profile-container .profile {
  width: 47%;
  margin-bottom: 5rem;
  padding: 1rem;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .about-container .profile-container .profile {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .about-container .profile-container .profile {
    margin-bottom: 2rem;
  }
}

.about-container .profile-container .profile .bg-img {
  width: 250px;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  .about-container .profile-container .profile .bg-img {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .about-container .profile-container .profile .bg-img {
    width: 200px;
  }
}

.about-container .profile-container .profile .bg-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about-container .profile-container .profile .profile-info {
  text-align: center;
  margin-top: 1.5rem;
}

@media (max-width: 500px) {
  .about-container .profile-container .profile .profile-info {
    margin-top: 1rem;
  }
}

.about-container .profile-container .profile .profile-info p {
  padding: 0.2rem 0;
  font-size: 1.7rem;
}

.about-container .profile-container .profile .profile-info .github {
  padding: 0;
}

.about-container .profile-container .profile .profile-info .website {
  padding: 0;
  margin-top: -0.7rem;
}

.about-container .profile-container .profile .worst-date {
  margin: 1.5rem 0 0;
}

@media (max-width: 500px) {
  .about-container .profile-container .profile .worst-date {
    margin: 1.5rem 0 0;
  }
}

.about-container .profile-container .profile .worst-date h3 {
  margin: 1rem 0 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.about-container .profile-container .profile .worst-date p {
  text-transform: lowercase;
  width: 40%;
  margin: 0 auto;
}

.about-container .zomato {
  text-align: center;
  margin: 4rem 0;
}

@media (max-width: 500px) {
  .about-container .zomato {
    margin: 2rem 0;
  }
}

.about-container .zomato .zomato-logo {
  width: 35%;
  height: 15vh;
  margin: 2rem auto 0;
  background: url("https://searchlogovector.com/wp-content/uploads/2019/05/zomato-logo-vector.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .about-container .zomato .zomato-logo {
    width: 90%;
    height: 14vh;
  }
}

.about-container .zomato .zomato-logo a {
  width: 55%;
  height: 100%;
  color: transparent;
}

footer {
  border-top: 1px solid #d8d7d7;
  background: gold;
  color: #36383b;
}

footer .footer-container {
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

@media (max-width: 500px) {
  footer .footer-container {
    padding: 1rem;
  }
}

footer .footer-container p {
  font-size: 0.9rem;
  text-align: center;
}

footer .footer-container p .copyright {
  margin-right: 1rem;
}

footer .footer-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container nav a {
  text-transform: uppercase;
  font-size: 1rem;
}

footer .footer-container nav a:hover {
  color: white;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

span,
p,
a,
label,
button {
  font-size: 1.1rem;
  color: #36383b;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3 {
  font-family: "Merriweather", serif;
  color: #36383b;
}

header {
  border-bottom: 1px solid #cecece;
  height: 20vh;
  background: #36383b;
}

header .header-container {
  max-width: 1400px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0rem 1rem 0;
  align-items: center;
}

header .header-container h1 a {
  font-size: 1.5rem;
  font-family: "Grand Hotel", cursive;
  font-size: 5rem;
  color: white;
}

header .header-container nav a {
  text-transform: uppercase;
}

.result-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1400px;
  margin: 7rem auto;
}

.result-container .single-card {
  border: 1px solid #e2e1e1;
  width: 420px;
  padding: 0.5rem 0;
  margin-bottom: 2rem;
}

@media (max-width: 910px) {
  .result-container .single-card {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .result-container .single-card {
    width: 450px;
  }
}

.result-container .single-card:last-child {
  margin-right: 0;
}

.result-container .single-card h3 {
  text-align: center;
  padding: 0.5rem 0 1rem;
  border-bottom: 1px solid #e6e3e3;
}

.result-container .single-card .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 0.5rem 2.5rem;
}

.result-container .single-card .rating span:last-child {
  color: gold;
  margin-left: 2rem;
}

.result-container .single-card .reviews-container {
  margin: 1rem 0;
}

.result-container .single-card .reviews-container .review-title {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.result-container .single-card .reviews-container .review {
  width: 100%;
  height: 20vh;
}

.result-container .single-card .reviews-container .review img {
  width: 100%;
  height: 100%;
}

.result-container .single-card .more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0;
}

.result-container .single-card .more a {
  text-transform: capitalize;
  border: 1px solid gold;
  padding: 0.4rem 1.8rem;
  border-radius: 10px;
  background: gold;
}

footer {
  background: gold;
  color: #36383b;
}

footer .footer-container {
  max-width: 1400px;
  margin: 0 auto;
}

@media (max-width: 500px) {
  footer .footer-container {
    padding: 1rem;
  }
}

footer .footer-container p {
  font-size: 0.9rem;
  text-align: center;
}

footer .footer-container p .copyright {
  margin-right: 1rem;
}

footer .footer-container nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .footer-container nav a {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.about-container {
  max-width: 1400px;
  margin: 7rem auto;
}

.about-container .profile-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 1rem;
}

@media (max-width: 1050px) {
  .about-container .profile-container {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media (max-width: 800px) {
  .about-container .profile-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.about-container .profile-container .profile {
  width: 47%;
  margin-bottom: 5rem;
  padding: 1rem;
  text-transform: capitalize;
}

@media (max-width: 800px) {
  .about-container .profile-container .profile {
    width: 70%;
  }
}

@media (max-width: 500px) {
  .about-container .profile-container .profile {
    margin-bottom: 2rem;
  }
}

.about-container .profile-container .profile .bg-img {
  width: 250px;
  margin: 0 auto;
}

@media (max-width: 1050px) {
  .about-container .profile-container .profile .bg-img {
    width: 250px;
  }
}

@media (max-width: 500px) {
  .about-container .profile-container .profile .bg-img {
    width: 200px;
  }
}

.about-container .profile-container .profile .bg-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.about-container .profile-container .profile .profile-info {
  text-align: center;
  margin-top: 1.5rem;
}

@media (max-width: 500px) {
  .about-container .profile-container .profile .profile-info {
    margin-top: 1rem;
  }
}

.about-container .profile-container .profile .profile-info p {
  padding: 0.2rem 0;
  font-size: 1.7rem;
}

.about-container .profile-container .profile .profile-info .github {
  padding: 0;
}

.about-container .profile-container .profile .profile-info .website {
  padding: 0;
  margin-top: -0.7rem;
}

.about-container .profile-container .profile .worst-date {
  margin: 1.5rem 0 0;
}

@media (max-width: 500px) {
  .about-container .profile-container .profile .worst-date {
    margin: 1.5rem 0 0;
  }
}

.about-container .profile-container .profile .worst-date h3 {
  margin: 1rem 0 1rem;
  font-size: 1.4rem;
  text-align: center;
}

.about-container .profile-container .profile .worst-date p {
  text-transform: lowercase;
  width: 40%;
  margin: 0 auto;
}

.about-container .zomato {
  text-align: center;
  margin: 4rem 0;
}

@media (max-width: 500px) {
  .about-container .zomato {
    margin: 2rem 0;
  }
}

.about-container .zomato .zomato-logo {
  width: 35%;
  height: 15vh;
  margin: 2rem auto 0;
  background: url("https://searchlogovector.com/wp-content/uploads/2019/05/zomato-logo-vector.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 5px;
}

@media (max-width: 500px) {
  .about-container .zomato .zomato-logo {
    width: 90%;
    height: 14vh;
  }
}

.about-container .zomato .zomato-logo a {
  width: 55%;
  height: 100%;
  color: transparent;
}
/*# sourceMappingURL=index.css.map */