$lg-lap-top: 1050px;
$lap-top: 910px;
$sm-lap-top: 800px;
$phone: 500px;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

span,
p,
a {
  font-size: 1.1rem;
}

header {
  border: 1px solid red;
  height: 15vh;

  .header-container {
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    align-items: center;

    h1 {
      a {
        font-size: 1.5rem;
      }
    }

    nav {
      a {
        text-transform: uppercase;
      }
    }
  }
}

// END OF HEADER

////// RESULTS CONTIANER STARTS HERE

.result-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 7rem auto;

  .single-card {
    border: 1px solid blue;
    width: 420px;
    padding: 0.5rem;
    //  margin: 0 1rem 2rem;
    margin-bottom: 2rem;

    @media (max-width: $lap-top) {
      width: 400px;
      color: red;
    }

    @media (max-width: $sm-lap-top) {
      width: 450px;
    }

    &:last-child {
      margin-right: 0;
    }

    h3 {
      text-align: center;
      padding: 0.5rem 0 1rem;
      border: 1px solid red;
      margin-bottom: 1rem;
      // background: ;
    }
    .rating {
      border: 1px solid red;
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;

      span {
        &:last-child {
          color: orange;
          margin-left: 2rem;
        }
      }
    }

    .reviews-container {
      border: 1px solid red;
      margin: 1rem 0;

      .review-title {
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      .review {
        padding: 0 0.5rem;
        p {
          padding: 0.2rem 0;
        }
      }
    }

    .more {
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      // margin-bottom: 1;

      a {
        text-transform: uppercase;
        border: 1px solid red;
        padding: 0.4rem 2rem;
        border-radius: 4px;
      }
    }
  }
}

///// END OF RESULTS CONTAINER

//// ABOUT PAGE STARTS HERE

.about-container {
  border: 1px solid red;
  max-width: 1400px;
  margin: 7rem auto;

  .profile-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem;

    @media (max-width: $lg-lap-top) {
      justify-content: space-around;
    }

    @media (max-width: $sm-lap-top) {
      flex-direction: column;
      align-items: center;
    }

    .profile {
      width: 45%;
      margin-bottom: 5rem;
      border: 1px solid blue;
      text-transform: capitalize;

      @media (max-width: $sm-lap-top) {
        width: 70%;
      }

      @media (max-width: $phone) {
        margin-bottom: 2rem;
      }

      .bg-img {
        width: 300px;

        @media (max-width: $lg-lap-top) {
          width: 250px;
        }

        @media (max-width: $phone) {
          width: 200px;
        }
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .profile-info {
        //   border: 1px solid red;
        text-align: center;
        margin-top: 1.5rem;

        @media (max-width: $phone) {
          margin-top: 1rem;
        }

        p {
          padding: 0.3rem 0;
        }
      }

      .worst-date {
        //   border: 1px solid blue;
        margin: 3rem 0 0;

        @media (max-width: $phone) {
          margin: 1.5rem 0 0;
        }

        h3 {
          margin: 1rem 0;
        }
        p {
          text-transform: lowercase;
        }
      }
    }
  }

  .zomato {
    text-align: center;
    margin: 4rem 0;
    border: 1px solid red;

    @media (max-width: $phone) {
      margin: 2rem 0;
    }

    .zomato-logo {
      width: 35%;
      height: 15vh;
      margin: 2rem auto 0;
      background: url("https://searchlogovector.com/wp-content/uploads/2019/05/zomato-logo-vector.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
      // border: 1px solid red;
      @media (max-width: $phone) {
        width: 90%;
        height: 14vh;
      }

      a {
        width: 55%;
        height: 100%;
        color: transparent;
      }
    }
  }
}

/// END OF ABOUT PAGE

//// FOOTER STARTS HERE

footer {
  border: 1px solid red;

  .footer-container {
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid red;
    padding: 2rem 1rem;

    @media (max-width: $phone) {
      padding: 1rem;
    }

    p {
      margin-top: 2rem;
      font-size: 0.9rem;
      text-align: center;

      .copyright {
        margin-right: 1rem;
      }
    }

    nav {
      display: flex;
      // flex-direction: column;
      // border: 1px solid red;

      a {
        text-transform: uppercase;
        padding: 0.3rem 1rem 0 0;
      }
    }
  }
}
