* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

span,
p,
a {
  font-size: 1.1rem;
}

header {
  border: 1px solid red;
  height: 15vh;

  .header-container {
    max-width: 1400px;
    margin: 0 auto;
    border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 0;
    align-items: center;

    h1 {
      a {
        font-size: 1.5rem;
      }
    }

    nav {
      a {
        text-transform: uppercase;
      }
    }
  }
}

// END OF HEADER

////// RESULTS CONTIANER STARTS HERE

.result-container {
  border: 1px solid red;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1400px;
  margin: 7rem auto;

  .single-card {
    border: 1px solid blue;
    width: 420px;
    padding: 0.5rem;
    margin: 0 1rem 2rem;

    &:last-child {
      margin-right: 0;
    }

    h3 {
      text-align: center;
      padding: 0.5rem 0 1rem;
      border: 1px solid red;
      margin-bottom: 1rem;
      // background: ;
    }
    .rating {
      border: 1px solid red;
      display: flex;
      justify-content: center;
      padding: 0.5rem 0;

      span {
        &:last-child {
          color: orange;
          margin-left: 2rem;
        }
      }
    }

    .reviews-container {
      border: 1px solid red;
      margin: 1rem 0;

      .review-title {
        text-align: center;
        font-size: 1.3rem;
        margin-bottom: 0.5rem;
      }
      .review {
        padding: 0 0.5rem;
        p {
          padding: 0.2rem 0;
        }
      }
    }

    .more {
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      // margin-bottom: 1;

      a {
        text-transform: uppercase;
        border: 1px solid red;
        padding: 0.4rem 2rem;
        border-radius: 4px;
      }
    }
  }
}

///// END OF RESULTS CONTAINER

//// ABOUT PAGE STARTS HERE

.about-container {
  border: 1px solid red;
  width: 1400px;
  margin: 7rem auto;

  .profile-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    .profile {
      width: 45%;
      border: 1px solid blue;
      text-transform: capitalize;

      .bg-img {
        //   padding: 9rem 0;
        width: 300px;
        border: 1px solid red;
        //   border-radius: 50%;
        margin: 0 auto;

        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      .profile-info {
        border: 1px solid red;
        text-align: center;
        margin-top: 1.5rem;

        p {
          padding: 0.3rem 0;
        }
      }

      .worst-date {
        //   border: 1px solid blue;
        //   margin: 1rem 0;

        h3 {
          margin: 1rem 0;
        }
        p {
          text-transform: lowercase;
        }
      }
    }
  }

  .zomato {
    text-align: center;
    margin: 4rem 0;

    .zomato-logo {
      width: 35%;
      height: 15vh;
      margin: 2rem auto 0;
      background: url("https://searchlogovector.com/wp-content/uploads/2019/05/zomato-logo-vector.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      border-radius: 5px;
      // border: 1px solid red;

      a {
        width: 55%;
        height: 100%;
        color: transparent;
      }
    }
  }
}
