$lg-lap-top: 1050px;
$lap-top: 910px;
$sm-lap-top: 800px;
$phone: 500px;


.restaurant-container {


    .go-back-home {

        button {
            background: gold;
            border-radius: 10px;
            height: 2.4rem;
            width: 120px;
            border: 1px solid gold;
            font-size: 1.2rem;
        }
       
    }

    
}
